<h1>Delete Trip</h1>
<h4>Are you sure you want to delete this Trip</h4>
<hr />

<div *ngIf="trip">
    <div>
        <label>TripId: </label>
        <span>{{trip.TripId}}</span>
    </div>
    <div>
        <label>BuddyId: </label>
        <span>{{trip.BuddyId}}</span>
    </div>
    <div>
        <label>Buddy Name: </label>
        <span>{{trip.BuddyName}}</span>
    </div>
    <div>
        <label>Volunteer Id: </label>
        <span>{{trip.VolunteerId}}</span>
    </div>
    <div>
        <label>Volunteer Name: </label>
        <span>{{trip.VolunteerName}}</span>
    </div>
    <div>
        <label>StartLocation: </label>
        <span>{{trip.StartLocation}}</span>
    </div>
    <div>
        <label>Description: </label>
        <span>{{trip.Description}}</span>
    </div>
    <div>
        <label>EndLocation: </label>
        <span>{{trip.EndLocation}}</span>
    </div>
    <br />

    <div>
        <label><b>Additional Buddies:</b> </label>
        <div *ngFor="let additionalBuddy of trip.AdditionalBuddies">Additional Buddy: {{additionalBuddy.Name}} </div>
    </div>

    <button mat-raised-button color="warn" (click)="onDelete()">Delete</button>
</div>
<button mat-raised-button color="primary" routerLink="/trip">Back to List</button>