<mat-toolbar color="primary">
    <span>Buddy System</span>
    <span class="flex-filler"></span>
    <button *ngIf="authService.loggedIn" mat-button class="nav-btn" routerLink="/buddies/current-user">Profile</button>
    <button *ngIf="!authService.loggedIn" mat-button class="nav-btn" routerLink="/register">Register</button>
    <button *ngIf="!authService.loggedIn" mat-button class="nav-btn" routerLink="/login">Login</button>
    <button *ngIf="authService.loggedIn" mat-button class="nav-btn" (click)="authService.logout()">Log Out</button>

<button mat-button class="nav-btn" *ngIf="authService.isAdmin" routerLink="/trip">See All Trips</button>
<button mat-button class="nav-btn" *ngIf="authService.isAdmin" routerLink="/buddies">List Of Buddies</button>


</mat-toolbar>
