<h1>Add Additional Buddy</h1>
<hr />

<form (ngSubmit)="onSubmit()" [formGroup]="addAdditionalBuddyForm">
    <div>
        <div hidden>
            <mat-form-field>
                <input matInput placeholder="BuddyId" formControlName="BuddyId" type="BuddyId" required />
            </mat-form-field>
        </div>

        <div class="form-group">
            <label for="Buddy To Add">Buddy To Add</label>
            <br />
            <select class="form-control" id="buddy" required formControlName="BuddyId">
                <option *ngFor="let buddy of listOfBuddies" [value]="buddy.BuddyId">{{buddy.Name}}</option>
            </select>
        </div>

        <div hidden>
            <mat-form-field>
                <input matInput placeholder="Trip Id" formControlName="TripId" type="number" required />
            </mat-form-field>
        </div>

        <!-- <div>
            <mat-form-field>
                <input matInput placeholder="TripId" formControlName="TripId" type="TripId" required />
            </mat-form-field>
        </div> -->
        <button mat-raised-button class="nav-btn" color="primary" type="submit">Add Buddy To This Trip</button>
    </div>
</form>

<a mat-button routerLink="/trip/TripsForCurrentUser">Back to List</a>